{% extends "login.twig" %}
{% block content %}
    <div class="row align-items-center mb-5">
        <div class="logo">
            <a href="/">
                <img src="http://placehold.it/200x100" alt="My blog"></a>
        </div>
    </div>
    <div class="row align-items-center my-5">
        <div class="card text-white bg-secondary m-auto p-4 text-center">
            <form class="login-form" method="post">
                <h3 class="form-title font-green mb-4">New password</h3>
                {% if flash %}
                    <div class="alert alert-{{ flash.type }}">
                        <button class="close" data-close="alert"></button>
                        <span>{{ flash.message['content'] }}</span>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="control-label d-none">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                           placeholder="Password" name="password" value="{{ username }}" required></div>
                <div class="form-group">
                    <label class="control-label d-none">Re-type your Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                           placeholder="Re-type your Password" name="rpassword" required></div>
                <div class="form-actions">
                    <input type="hidden" name="new_password">
                    <button type="submit" class="btn green uppercase">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
