{% extends "layout.twig" %}
{% block content %}
    <div class="content-box">
        <div class="container">
            <div class="row align-items-center my-5">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="display-2">404</h1>
                        <div>{{ content }}</div>
                        <div class="m-5"><a href="/" class="btn btn-primary"> <i class="fas fa-backward"></i> Back to
                                homepage</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
