body {
    padding-top: 56px;
}

#content {
    min-height: 76.3vh;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    margin: auto;
}

#login, #register, #newpassword {
    background-color: #343a40;
}

#login .card, #register .card, #newpassword .card {
    width: 400px;
}

.page-quick-sidebar-wrapper {
    transition: right .3s;
    z-index: 9999;
    position: fixed;
    top: 30%;
    bottom: 0;
    width: 150px;
    right: -150px;
    overflow: hidden;
}

.page-quick-sidebar-wrapper.active {
    right: 0;
}

#categories span {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
}


.create-account {
    margin: 24px -25px -50px;
    padding: 15px 0 1px;
    text-align: center;
    -webkit-border-radius: 0 0 .25rem .25rem;
    -moz-border-radius: 0 0 .25rem .25rem;
    -ms-border-radius: 0 0 .25rem .25rem;
    -o-border-radius: 0 0 .25rem .25rem;
    border-radius: 0 0 .25rem .25rem;
}

 .forget-password {
    font-size: 14px;
    color: #BFBFBF;
    float: right;
    display: inline-block;
    margin-top: 2px;
}

#login .btn, #register .btn, #newpassword .btn {
    float: left;
}

#login .btn:hover, #register .btn:hover, #newpassword .btn:hover {
    color: #ffffff;
    text-decoration: underline;
}

.rememberme {
    margin-left: 8px;
}

#login input[type='checkbox'], #register input[type='checkbox'] {
    margin: 3px;
    top: 1px;
    position: relative;
}

.green {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.uppercase {
    text-transform: uppercase;
}