 #URL rewriting mode
 <IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*[^/])$ /$1/ [L,R=301]
 RewriteRule ^(.*)$ bootstrap.php [QSA,L]
 </IfModule>
