{% extends "layout.twig" %}
{% block main %}
    <div class="container-fluid mt-5 text-center">
        <div class="row mt-5">
            <div class="alert alert-danger">Your are not alowed to view this page</div>
         </div>
    </div>
{% endblock %}
