<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- ADMIN ROUTES -->
    <route url="/admin/" env="Backend" app="Backend" action="dashboard"></route>
    <route url="/admin/access-denied/" env="Backend" app="Backend" action="accessDenied"></route>
    <route url="/admin/users/" env="Backend" app="AdminUser" action="users"></route>
    <route url="/admin/user/add/" env="Backend" app="AdminUser" action="add"></route>
    <route url="/admin/user/edit/([0-9]*)/" env="Backend" app="AdminUser" action="edit" vars="id"></route>
    <route url="/admin/my-account/" env="Backend" app="AdminUser" action="myAccount"></route>
    <route url="/admin/posts/" env="Backend" app="AdminPost" action="posts"></route>
    <route url="/admin/post/add/" env="Backend" app="AdminPost" action="add"></route>
    <route url="/admin/post/edit/([0-9]*)/" env="Backend" app="AdminPost" action="edit" vars="id"></route>
    <route url="/admin/post/delete/([0-9]*)/([a-z0-9]*)/" env="Backend" app="AdminPost" action="delete" vars="id,token"></route>
    <route url="/admin/category/add/" env="Backend" app="AdminPost" action="addCategory"></route>
    <route url="/admin/comments/" env="Backend" app="AdminComment" action="comments"></route>
    <route url="/admin/comment/edit/([0-9]*)/" env="Backend" app="AdminComment" action="edit" vars="id"></route>
    <route url="/admin/comment/delete/([0-9]*)/([a-z0-9]*)/" env="Backend" app="AdminComment" action="delete" vars="id,token"></route>
    <route url="/admin/comment/approve/([0-9]*)/([a-z0-9]*)/" env="Backend" app="AdminComment" action="approve" vars="id,token"></route>
    <route url="/admin/comment/reject/([0-9]*)/([a-z0-9]*)/" env="Backend" app="AdminComment" action="reject" vars="id,token"></route>
    <!-- FRONTEND ROUTES -->
    <route url="/" env="Frontend" app="Frontend" action="home"></route>
    <route url="/register/" env="Frontend" app="User" action="register"></route>
    <route url="/login/" env="Frontend" app="User" action="login"></route>
    <route url="/logout/" env="Frontend" app="User" action="logout"></route>
    <route url="/new-password/([a-z0-9]*)/" env="Frontend" app="User" action="newPassword" vars="token"></route>
    <route url="/new-activation-link/([a-z0-9]*)/" env="Frontend" app="User" action="newActivation" vars="token"></route>
    <route url="/post/[a-z0-9\-]*/([a-z0-9\-]*)/" env="Frontend" app="Post" action="post" vars="slug"></route>
    <route url="/post/([0-9]*)/" env="Frontend" app="Post" action="id" vars="id"></route>
    <route url="/post/([a-z0-9\-]*)/" env="Frontend" app="Post" action="list" vars="category"></route>
    <route url="/post/comment/add/([0-9]*)/" env="Frontend" app="Post" action="addComment" vars="id"></route>
</routes>