{% extends "layout.twig" %}
{% block content %}
    <div class="content-box">
        <div class="container">

            <div class="row  my-5">
                <div class="col-md-9">
                    {% if posts %}
                        <div class="row"> {% embed 'extend-list.twig' with {'pagination': true} %}{% endembed %}</div>
                    {% else %}
                        <div class="text-center alert alert-info">There is no post for this category at the moment.
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <div class="c-content-ver-nav">
                        <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                            <span class="h4">Categories</span>
                            <div class="left-separator"></div>
                        </div>
                        <ul id="categories">
                            {% for category in categories %}
                                <li class="d-flex category-list p-2">
                                    <i class="fa fa-chevron-right mr-1"></i> <a class="category-link"
                                       href="/post/{{ category.category_slug }}/">{{ category.category_name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
