{% extends "layout.twig" %}
{% block content %}
    <div class="content-box">
        <div class="container">
            <button type="button" class="float-right btn btn-outline-info quick-sidebar-toggler" data-toggle="collapse"
                    aria-expanded="false"><i id="arrow" class="fas fa-arrow-left"></i> CATEGORIES
            </button>
            <div class="row align-items-center my-5">
                <div class="col-md-12">
                    {% if posts %}
                        <div class="row"> {% embed 'extend-list.twig' with {'pagination': true} %}{% endembed %}</div>
                    {% else %}
                        <div class="text-center alert alert-info">There is no post for this category at the moment.
                        </div>
                    {% endif %}
                </div>
                <div id="categories" class="page-quick-sidebar-wrapper">
                    <span class="p-2">Categories</span>
                    <ul class="list-group mt-2">
                        {% for category in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="/post/{{ category.category_slug }}/">{{ category.category_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block custom_script %}
        <script>
            $(document).ready(function () {
                $('.quick-sidebar-toggler').on('click', function () {
                    $('#categories').toggleClass('active');
                });

            });
        </script>
    {% endblock %}
{% endblock %}
